@use "../../assets/styles/config.scss" as *;


.container {
  position: fixed;
  max-width: 800px;

  z-index: 99;
  top: 0;
  /* left: 0; */
  width: 100%;
  /* height: 12vh; */
  background: linear-gradient(
    to right,
    map-get($brand-colors, "from-blue"),
    map-get($brand-colors, "to-blue")
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;

  .nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    /* padding: 5px; */

    p {
      margin: 0 0 0 10px;
      font-size: 16px;
      font-weight:w 800;
      color: white;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 900;
    color: white;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    font-weight: 800;
    color: lightgray;
    margin-bottom: 10px;
  }

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      padding: 0;
      margin: 0;
      margin-right: 10px;
      display: flex;
      align-items: center;
      color: white;
    }
  }
}
