@charset "UTF-8";
.container {
  position: relative;
  width: 100%;
}
.container .categoryContainer {
  position: absolute;
  /* position: fixed; */
  /* z-index: 20; */
  top: 90px;
  left: 0;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .categoryContainer p {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 1px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 8px;
  margin-bottom: 0;
}
.container .headerContainer {
  position: fixed;
  max-width: 800px;
  z-index: 99;
  top: 0;
  /* left: 0; */
  width: 100%;
  /* height: 12vh; */
  background: linear-gradient(to right, #3b82f6, #2563eb);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}
.container .headerContainer .functions {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.container .headerContainer .functions input {
  width: 90%;
  background: rgba(255, 255, 255, 0.2); /* 半透明背景 */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
  border: 1px solid rgba(255, 255, 255, 0.2); /* 半透明邊框 */
  border-radius: 8px; /* 圓角 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 柔和陰影 */
  padding: 6px 6px 6px 40px; /* 內距 */
  color: #fff; /* 白色文字 */
}
.container .headerContainer .functions input::-moz-placeholder {
  color: white; /* 修改為你想要的顏色 */
  font-weight: 800;
  opacity: 0.8; /* 可選：調整透明度 */
}
.container .headerContainer .functions input::placeholder {
  color: white; /* 修改為你想要的顏色 */
  font-weight: 800;
  opacity: 0.8; /* 可選：調整透明度 */
}
.container .headerContainer .functions input:focus {
  border: none;
}
.container .headerContainer .functions button {
  padding: 5px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2); /* 半透明背景 */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
  border: 1px solid rgba(255, 255, 255, 0.2); /* 半透明邊框 */
  border-radius: 8px; /* 圓角 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 柔和陰影 */
  color: #fff; /* 白色文字 */
}
.container .headerContainer .nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 15px; */
  /* padding: 5px; */
}
.container .headerContainer .nav p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 800;
  color: white;
}
.container .count {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .count p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.container .booksContainer {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
}
.container .booksContainer .bookContainer {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin-bottom: 10px;
}
.container .booksContainer .bookContainer .state {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 15px;
}
.container .booksContainer .bookContainer h1 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}
.container .booksContainer .bookContainer h2 {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  margin-bottom: 5px;
}
.container .booksContainer .bookContainer .description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .booksContainer .bookContainer .description p {
  font-size: 12px;
  font-weight: 600;
  color: gray;
  margin: 0 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 80%;
  padding: 6px 10px;
  background-color: #3b82f6;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}/*# sourceMappingURL=Book.module.css.map */