@use "../../../../assets/styles/config.scss" as *;

.container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 5px 10px;

  .formContainer {
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputGroup {
      width: 100%;
      .smLabel {
        font-size: 14px;
        font-weight: 300;
        color: gray;
      }
    }

    .submitBtn {
      width: 85%;
      max-width: 400px;
      background: linear-gradient(
        to right,
        map-get($brand-colors, "from-blue"),
        map-get($brand-colors, "to-blue")
      );
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 6px;
      font-size: 16px;
      font-weight: 800;
      color: white;
      border-radius: 12px;
      margin: 10px auto;
    }
  }
}

.alert {
  width: 100%;
  /* padding: 2px 10px; */
  margin-top: 10px;
  font-size: 14px;
}